.App {
  text-align: left;
  width: 100vw;
  height: 200vh;
  background-color: #DFD0B8;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


